<h1>1. for문</h1>
{% for food in my_list %}
  <p>{{ forloop.counter}}. {{food}}</p>
{% endfor %}
<hr>

{% for data in empty_list%}
  <p>data</p>
{% empty %}
  <p>비어있습니다.</p>
{% endfor %}
<hr>

<h2>2. 조건문</h2>
{% for food in my_list %}
{% if food in '짜장면' %}
  <p>짜장면엔 고춧가루지</p>
{% else%}
  <p>{{food}}</p>
{% endif %}
{% endfor %}

<h2>2. 조건문</h2>
{% for food in my_list %}
{% if forloop.first %}
  <p>짜장면엔 고춧가루지</p>
  <p>{{forloop.first}}</p>
  <p>{{forloop.last}}</p>
{% else%}
  <p>{{food}}</p>
{% endif %}
{% endfor %}

<h2>3. filter 활용</h2>
  <p>{{my_string|lower}}</p>
  <p>{{my_string|upper}}</p>
  <p>{{my_string|title}}</p>
  <p>{{my_string|length}}</p>
  <p>{{my_string|truncatewords:3}}</p>
  <p>{{my_string|truncatechars:3}}</p>
  <p>{{my_string|truncatechars:10}}</p>
<hr>

<h2>4. lorem ipsum</h2>
  <p>{% lorem %}</p>
  <p>{% lorem 3 w %}</p>
  <p>{% lorem 3 p %}</p>